{% extends "base.html" %}
{% block content %}

<h1>{{ pc.name }}</h1>
<p>Status: {{ pc.status }}</p>
<p><strong>Gesamtpreis: {{ pc.gesamtpreis }} CHF</strong></p>

<hr>

<h3>Komponenten hinzufügen</h3>

<div class="btn-group">
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='cpu') }}">CPU</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='gpu') }}">GPU</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='ram') }}">RAM</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='ssd') }}">SSD</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='psu') }}">Netzteil</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='pc_case') }}">Gehäuse</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='fans') }}">Lüfter</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='kuehler') }}">Kühler</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='argb') }}">ARGB</a>
  <a class="btn btn-default" href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='extensions') }}">Extensions</a>
</div>

<hr>

<h3>Bereits hinzugefügt</h3>

<table class="table table-striped">
  <tr>
    <th>Typ</th>
    <th>Preis</th>
  </tr>

  {% for k in komponenten %}
  
  <tr>
    <td>{{ k.typ }}</td>
    <td>{{ k.preis }} CHF</td>
    <td>
        <a href="{{ url_for('remove_component', pc_id=pc[0].id, item_id=k.id) }}" 
           class="btn btn-warning btn-sm">
           Entfernen
        </a>
    </td>
  </tr>
  {% endfor %}
</table>

<a href="{{ url_for('sell_pc', pc_id=pc[0].id) }}" class="btn btn-danger btn-lg">
  PC verkaufen
</a>

{% endblock %}
