{% extends "base.html" %}
{% block content %}

<h1>PC: {{ pc[0].name }}</h1>
<p>Status: {{ pc[0].status }}</p>
<p>Gesamtpreis: {{ pc[0].gesamtpreis }} CHF</p>

<h2>Komponenten hinzufügen</h2>

<div class="component-buttons">
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='cpu') }}">CPU hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='gpu') }}">GPU hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='ram') }}">RAM hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='ssd') }}">SSD hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='psu') }}">Netzteil hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='pc_case') }}">Gehäuse hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='fans') }}">Lüfter hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='kuehler') }}">Kühler hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='argb') }}">ARGB hinzufügen</a>
    <a href="{{ url_for('add_component_list', pc_id=pc[0].id, typ='extensions') }}">Extensions hinzufügen</a>
</div>

<h2>Bereits hinzugefügt</h2>

<table>
    <tr>
        <th>Typ</th>
        <th>Preis</th>
    </tr>

    {% for k in komponenten %}
    <tr>
        <td>{{ k.typ }}</td>
        <td>{{ k.preis }} CHF</td>
    </tr>
    {% endfor %}
</table>

<a href="{{ url_for('sell_pc', pc_id=pc[0].id) }}" class="sell-button">PC verkaufen</a>

{% endblock %}
