{% extends "base.html" %}
{% block content %}

<h1>Alle PCs</h1>

<a href="{{ url_for('pc_new') }}" class="button">Neuen PC erstellen</a>

<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Preis</th>
        <th>Aktion</th>
    </tr>

    {% for pc in pcs %}
    <tr>
        <td>{{ pc.name }}</td>
        <td>{{ pc.status }}</td>
        <td>{{ pc.gesamtpreis }} CHF</td>
        <td><a href="{{ url_for('pc_detail', pc_id=pc.id) }}">Öffnen</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
